.playArea,.player,.dealer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.playArea{
    position: absolute;
}*/

.play-buttons{
    display: flex;
    justify-content: center;
}

.player{
    margin-top: 40px;
    margin-bottom: 25px;
}

.card{
    margin-right: 20px;
    height: 240px;
}

.back-of-card{
    border-radius: 9px;
}

.name{
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(186, 184, 184);
    margin-bottom: 10px;
}

.player-stats{
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

.stand-button,.hit-button{
    height:50px;
    width: 90px;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 13px;

    border:none;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(53, 53, 53);
    color: rgb(186, 184, 184);
}

.player-card-value,.dealer-card-value{
    color: white;
}

.card{
    margin-right: 12px;
    border: 3px white solid;
    border-radius: 9px;
}

.dealer-card-value{
    top: 150px;
    right: 250px;
}

.player-card-value{
    bottom: 175px;
    right: 250px;
}

.winloss-popup{
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 1, 0);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    z-index: 100;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.close-button{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #465B64ff;
    border: none;
    color: #FFFEFEff;
    border-radius: 3px;
}

.popup-game-status{
    font-size: 20px;
    margin-bottom: 7px;
}


